:host {
  --logo-height: 3.5rem;

  display: inline-block;
  line-height: 0;
}

.logo {
  width: auto;
  height: var(--logo-height);
}

:host(.is-inverse) .logo {
  filter: brightness(0) invert(1);
}
